DEEPSEEK_API_KEY=your_deepseek_api_key_here
GITHUB_PAGES_URL=https://podcast-generator-ar1.pages.dev
GITHUB_PAGES_REPO=git@github.com:TU-Dan/podcast_generator.git
GITHUB_PAGES_BRANCH=gh-pages
VOYAGE_API_KEY=your_voyage_api_key_here
# OPENAI_API_KEY=your_openai_api_key_here
